button {
  padding: 15px 60px;
  border-radius: 50px;
  border: 2px solid @primary-color;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;

  &:active {
    background-color: @primary-color;
    color: #fff;
  }
}