@cell-size: 40px;

.board {
  border-collapse: collapse;
  border-spacing: 0;

  .cell {
    margin: 0;
    padding: 0;
    border: 1px solid #eee;

    input {
      padding: 0;
      margin: 0;
      border: 0;
      width: @cell-size;
      height: @cell-size;
      line-height: @cell-size;
      text-align: center;

    }

  }

}

