doctype html
html(lang="en")
  head
    title Hello World!
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    h1 Hello World!
  script(src="js/bundle.js")