doctype html
html(lang="en")
  head
    title Sudoku!
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body
    h1 Sudoku!
    ul#difficulty
      li easy
      li.active moderate
      li hard
    table.board
      - for (var row=0; row<9; row++)
        tr
          - for (var col=0; col<9; col++)
            td.cell(region=Math.floor(col/3)+3*Math.floor(row/3))
              div.outline
                input(row=row, col=col, type="tel", maxlength="1")
    button#new-game New Game
  <script type="text/javascript" src="//use.typekit.net/etz5sio.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  script(src="js/bundle.js")
